@charset "utf-8";
/*共通部分*/
html{
    font-size:100%;
}
body{
    font-family:"Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height:1.7;
    color:#432;
}
a{
    text-decoration:none;
}
img{
    max-width:100%;
}

/*header*/
.page-header{
    display:flex;
    justify-content:space-between;
}
.logo{
    width:210px;
    margin-top:14px;
}
.main-nav{
    display:flex;
    font-size:1.25rem;
    text-transform:uppercase;
    margin-top:34px;
    list-style:none;
}
.main-nav li{
    margin-left:36px;
}
.main-nav a{
    color:#432;
}
.main-nav a:hover{
    color:#0bd;
}
.wrapper{
    max-width:1100px;
    margin:0 auto;
    padding:0 4%;
    /*
    ax-width: 1100px;
    効果: 横幅の限界（最大値）を1100ピクセルに制限します。理由: 大きなモニターで見たときに、文章やロゴが画面の端から端まで広がりすぎて読みづらくなるのを防ぎます。
    margin: 0 auto;
    効果: 上下には余白を作らず（0）、左右の余白を自動計算して中央に配置します（auto）。理由: これを入れることで、どんな画面サイズでもコンテンツが常に画面の真ん中に寄ります。
    padding: 0 4%;
    効果: 左右の内側に 4% の余白を作ります。理由: スマホなどの画面幅が狭い端末で開いたときに、文字や画像が画面の左端・右端にピッタリくっついて見づらくなるのを防ぐ「安全帯」の役割をします
    */
}

/*HOME*/
.home-content{
    text-align:center;
    margin-top:10%;
}
.home-content p{
    font-size:1.125rem;
    margin:10px 0 42px;
}

/*見出し*/
.page-title{
    font-size:5rem;
    font-family:'Philosopher',serif;
    text-transform:uppercase;
    font-weight:normal;
}

/*ボタン*/
.button{
    font-size:1.375rem;
    background:#0bd;
    color:#fff;
    border-radius:5px;
    padding:18px 32px;
}
.button:hover{
    background:#0090aa;
}

/*大きな画像*/
.big-bg{
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
}
#home{
    background-image:url(https://cdn.pakutaso.com/shared/img/thumb/ogasuta458A7873_TP_V.jpg),linear-gradient(#c9ffbf,#ffafbd);
    background-blend-mode:luminosity;
    min-height:100vh;
    /*単色を画像に重ね合わせる
    background-color:#0bd;
    */
    /*　画像とブレンドさせる
    background-blend-mode:hard-light;
    min-height:100vh;
    */
    /*グラデーションカラー　画像なし
    background-image:radial-gradient(#c9ffbf,#ffafbd);
    */

}
/*
#home.page-title （スペースなし）：
「id="home" と class="page-title" を両方持っている1つの要素」という意味になってしまいます。
#home .page-title （半角スペースあり）：
「id="home" の中にある class="page-title"（見出し要素）」という意味になります。
*/
#home .page-title{
    text-transform:none;
}